@page "/lists"
@inject HttpClient http

<PageTitle>Lists</PageTitle>
<h1>Lists</h1>

@foreach (string title in _allLists)
{
  <button class="btn btn-primary" @onclick="() => BlockButton_Clicked(title)">@title</button>
}

<button class="btn btn-link">New...</button>

@code {
  private List<string> _allLists = new List<string>();
  private string _currentListName = "";

  protected override async Task OnInitializedAsync()
  {
    _allLists = await http.GetFromJsonAsync<List<string>>("api/List");
  }

  private async Task BlockButton_Clicked(string title)
  {
    _currentListName = title;
  }
}
