@page "/lists"
@inject HttpClient Http

<PageTitle>Lists</PageTitle>
<h1>Lists</h1>

@* <button class="btn btn-primary" @onclick=Test>Vla</button> *@

@foreach (string title in blocks)
{
  <button class="btn btn-primary" @onclick="() => BlockButton_Clicked(title)">@title</button>
}

<p>@debugText</p>

@code {

  private List<string> blocks = new List<string>();
  private string debugText = "";

  protected override async Task OnInitializedAsync()
  {
    blocks = await Http.GetFromJsonAsync<List<string>>("api/TextBlock");
  }

  private async Task BlockButton_Clicked(string title)
  {
    HttpResponseMessage response = await Http.GetAsync($"api/TextBlock/{title}");

    if (response.IsSuccessStatusCode)
    {
      debugText = await response.Content.ReadAsStringAsync();
    }
    else debugText = $"Error: {response.StatusCode}, {response.ReasonPhrase}";
  }
}
